@page
@model IndexModel
@{
    ViewData["Title"] = "Wikipedia";
}
<h1 id="Titlu">Informatii Wikipedia</h1>
<ul>
    @foreach (var articol in Model.Articole)
    {
        <div class="articol-container">
            <h2>
                <a asp-route-stireId="@articol.Id"> @articol.Titlu </a>
            </h2>
            <p> <strong> @articol.Continut</strong> Adaugat de <strong>@articol.Autor </strong> din categoria <strong> @articol.Domenii?.Nume</strong></p>

        </div>
        
    }
</ul>
<div>
    <p>Adauga articol nou: </p>
    <a asp-page="/AdaugaArticol">Adauga Articol</a>
</div>
